@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&family=Rubik:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Nunito', sans-serif;
}

body {
    font-family: 'Rubik', sans-serif;
    width: auto;
}

.sec1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.sec2,
.sec3,
.sec4,
.sec5,
.sec6 {
    max-width: 1280px;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}


.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.text-banner1,
.text-banner2 {
    position: relative;
    font-size: 4rem;
    overflow: hidden;
    margin: 20px;
}

.text-banner1:before,
.text-banner2:before {
    content: '';
    background: rgb(0, 0, 0);
    height: 100%;
    display: flex;
    position: absolute;
    animation: 8s loadingBefore infinite ease;
}

.name-banner {
    animation: showTest;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}


@keyframes loadingBefore {
    0% {
        left: 0;
        width: 0;
    }

    10% {
        left: 0;
        width: 100%;
    }

    20% {
        left: 105%;
        width: 100%;

    }

    80% {
        left: 105%;
        width: 100%;
    }

    85% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 0;
        width: 0;
    }

}

@keyframes showTest {
    0% {
        color: #ffffff;
    }

    9% {
        color: #ffffff;
    }

    10% {
        color: #000;

    }

    84% {
        color: #000;
    }

    85% {
        color: #ffffff;
    }

    100% {
        color: #ffffff;
    }
}


/* animate */
.animate {
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    color: #ffffff;
    opacity: 0;
}

section .animate {
    transition: 1s;
}

.sec2 .animate {
    transform: translateX(-20%);
    opacity: 0;
}

.sec2.active .animate {
    transform: translateX(0);
    opacity: 1;
}

.sec2 .text-animate {
    transform: translateX(20%);
    transition: 1s;
    transition-delay: calc(0.2s*var(--i));
    opacity: 0;
}

.sec2.active .text-animate {
    transform: translateX(0);
    opacity: 1;
}

.sec3 .animate {
    transform: translateX(-20%);
    opacity: 0;
}

.sec3.active .animate {
    transform: translateX(0);
    opacity: 1;
}

.sec3 .text-animate {
    transform: translateX(20%);
    transition: 1s;
    transition-delay: calc(0.2s*var(--i));
    opacity: 0;
}

.sec3.active .text-animate {
    transform: translateX(0);
    opacity: 1;
}

section .text-container {
    transition: 1s;
}

.sec4 .text-container {
    transform: translateX(-20%);
    opacity: 0;
}

.sec4.active .text-container {
    transform: translateX(0);
    opacity: 1;
}

.sec5 .text-container {
    transform: translateX(20%);
    opacity: 0;
}

.sec5.active .text-container {
    transform: translateX(0);
    opacity: 1;
}

.sec6 .text-container {
    transform: translateX(20%);
    opacity: 0;
}

.sec6.active .text-container {
    transform: translateX(0);
    opacity: 1;
}


section .con-skill {
    transition: 1s;
}

.sec4 .con-skill {
    transform: translateY(100%);
    opacity: 0;
}

.sec4.active .con-skill {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.2s*var(--i));
}


section .icon-contact {
    transition: 1s;
}

.sec6 .icon-contact {
    transform: translateY(100%);
    opacity: 0;
}

.sec6.active .icon-contact {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.2s*var(--i));
}

/*  */

.education,
.experience {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.skills,
.contact,
.practice {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.container-l {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-r {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0 100px;
    justify-content: center;
    text-align: justify;
}

.container-r h1 {
    font-size: 70px;
}

.container-r h3 {
    font-size: 25px;
    margin-top: 20px;
}

.container-r p {
    font-size: 25px;
    margin-top: 20px;
}

.experience .container-r h3 {
    font-size: 20px;
}

.experience .container-r p {
    font-size: 20px;
}


.skills .container-skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.skills .text-container {
    position: absolute;
    display: flex;
    width: 100%;
    font-size: 200px;
    margin-top: 20px;
    justify-content: right;
}

.practice .text-container {
    position: absolute;
    top: 0;
    font-size: 180px;
    width: 100%;
}

.contact .text-container {
    position: absolute;
    margin-top: 20px;
    font-size: 190px;
    width: 100%;
}

.container-contacts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 4rem;
    align-items: center;
    justify-content: space-around;
}

.container-contacts .icon-contact i {
    color: #000;
}

.sec2 img,
.sec3 img {
    width: 500px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.445);
}

.logo {
    width: 80px;
    border-radius: 0;
    box-shadow: none
}

.sec5 img {
    width: 350px;
    height: 250px;
}

.practice {
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}


.practice .practice-content {
    position: relative;
    display: flex;
    text-align: center;
    align-items: end;
    justify-content: center;
    box-shadow: 1px 1px 5px #000;
    transition: 0.2s;
}

.practice .practice-content:hover {
    scale: 1.05;
}


.title-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: rgb(221, 221, 221);
    font-size: 1rem;
    font-weight: 600;
    transition: 0.2s;
    pointer-events: none;
}

.practice .practice-content img:hover~.title-content {
    height: 100px;
}



@media screen and (max-width: 1280px) {
    .container-r h1 {
        font-size: 60px;
    }

    .container-r h3 {
        font-size: 25px;
    }

    .container-r p {
        font-size: 25px;
    }

    .experience .container-r h3 {
        font-size: 20px;
    }

    .experience .container-r p {
        font-size: 21px;
    }

    .sec2 img,
    .sec3 img {
        width: 450px;
    }

    .container-r {
        padding: 0 50px;
    }

    .skills .text-container,
    .practice .text-container,
    .contact .text-container {
        font-size: 170px;
    }

}

@media screen and (max-width: 1100px) {
    .sec2,
    .sec3 {
        height: auto;
    }

    .banner h1 {
        font-size: 80px;
    }

    .banner .text-back {
        font-size: 250px;
    }

    .container-r {
        padding: 20px;
    }

    .logo {
        width: 80px;
    }

    .icon-contact {
        font-size: 4rem;
    }

    .skills .text-container,
    .practice .text-container,
    .contact .text-container {
        font-size: 150px;
    }

    .sec5 img {
        width: 300px;
        height: 200px;
    }
}


@media screen and (max-width: 900px) {

    .sec2 {
        height: auto;
    }

    .sec1 {
        height: 100vh;
    }

    .education,
    .experience {
        flex-direction: column;
        height: auto;
    }

    .sec4,
    .sec5,
    .sec6 {
        height: auto;
    }

    .skills,
    .practice,
    .contact {
        height: 50vh;
    }

    .sec5 img {
        width: 250px;
        height: 150px;
    }

    .experience .container-r {
        order: 2;
    }

    .container-r {
        padding: 40px;
    }

    .banner h1 {
        text-align: center;
        font-size: 50px;
    }

    .banner .text-back {
        font-size: 150px;
    }

    .sec2 img,
    .sec3 img {
        width: 300px;
    }

    .logo {
        width: 50px;
    }

    .icon-contact {
        font-size: 4rem;
    }

    .skills .container-skills {
        font-size: 1rem;
    }

    .skills .text-container,
    .practice .text-container,
    .contact .text-container {
        font-size: 100px;
    }

}

@media screen and (max-width: 500px) {
    .sec2 img,.sec3 img{
        width: 300;
    }

    .sec5 img {
        width: 200px;
        height: 150px;
    }

    .practice {
        align-items: flex-end;
        justify-content: center;
    }

    .practice-content{
        position: absolute;
        bottom: 50px;
        margin: 0 20px;
    }
}